.header_container {
  display: flex;
  margin: 30px 40px 15px 40px;
}

.logo {
  width: 140px;
  display: block;
  margin: auto;
}

.profile_logo_container, .community_logo_container {
  height: 34.609px;
}

.profile_logo, .community_logo {
  width: 40px;
}

