.create-events-container {
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px;
}
.signup-header {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
}

.upload_image_events {
  display: block;
  margin: auto;
  border-radius: 100px;
  width: 183px;
  height: 76px;
  background: #00b16d;
  color: white;
  margin-top: 10px;
  width: 152px;
  height: 152px;
  margin-bottom: 30px;
}

.createEvent-h1 {
  font-size: 20px;
  font-weight: 700;
  color: #3d3f43;
  margin-bottom: 30px;
}

.cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #3d3f43;
  color: white;
  font-size: 25px;
  font-weight: 700;
  border: none;
  padding: 10px;
  width: 40%;
}
.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #00b16d;
  color: white;
  font-size: 25px;
  font-weight: 700;
  border: none;
  padding: 10px;
  width: 40%;
}

.inputs {
  border: 1px solid #3d3f43;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 96%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.buttons_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.content_area {
  border: 1px solid #3d3f43;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.upload_image_logo {
  display: block;
  margin: auto;
  border-radius: 100px;
  width: 183px;
  height: 76px;
  background: #00b16d;
  color: white;
  margin-top: 10px;
  width: 152px;
  height: 152px;
}
