/* @font-face {
    font-family: 'Domaine';
    src: local('Domaine'), url('./fonts/domaine-display-web-bold.woff') format ('woff');
  } */
  
.login-logo{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 13vh;
    display: block;
}
.login-button{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    width: 153px;
    height: 56px;
    background: #00b16d;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 76px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 110px;    
}

.login-h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.signup-button{
    color:#00b16d;
}

.email-input-form{

border: 1px solid #000000;
border-top: none;
border-left: none;
border-right: none;

}
.password-input-form{
border: 1px solid #000000;
border-top: none;
border-left: none;
border-right: none;
    
}
.p-text{
    font-size: 15px;

}