.login-container {
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

.login-logo {
  width: 250px;
  height: 150px;
  margin: auto;
  margin-top: 13vh;
  display: block;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  width: 250px;
  height: 56px;
  background: #00b16d;
  color: white;
  text-align: center;
  line-height: 76px;
  font-size: 25px;
  font-weight: 700;
  margin-top: 110px;
  border: none;
}

.login-h1 {
  font-size: 20px;
  font-weight: 700;
  color: #3d3f43;
}
.sign-button {
  color: #00b16d;
  text-decoration: none;
}

.email-input-form {
  border: 1px solid #3d3f43;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 96%;
}
.password-input-form {
  border: 1px solid #3d3f43;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 96%;
}
.p-text {
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
  color: #3d3f43;
}
